export default {
    api: {
        url: 'http://localhost:4999',
        imageUrl: 'https://via.placeholder.com'
    },
    credentials: {
        googleMaps: {
            key: 'XXXXXXX'
        }
    }
}
